.label {
    color: #0072f5;
    font-size: 14px;
    padding: 3px
}

.dropdown {
    width: 20vw;
    min-width: 250px;
    padding: 9px 15px;
    border-radius: 25px;
    font-size: 14px;
    background-color: white;
    border: 2px solid rgb(225, 225, 225);
    transition: 0.25s;
}

.dropdown:hover {
    border: 2px solid #0072f5;
}

.dropdown:active {
    border: 2px solid #0072f5;
}