.header{
    margin: 2vh 2vw 0 2vh;
    padding: 2vh 2vw 0 2vh;
}

.backBtn {
    width: 50px;
    color: #0072f5;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .header {
        margin: 2vh 1vw 0 2vh;
        padding: 2vh 0 2vh 0;
    }
}