.Input {
  width: 350px;
  color: primary;
}

.ailmentInput{
    width: 250px;
    color: primary;
}

/* .center {
  position: absolute;
  transform: translate(420%, 0);
  padding: 10px;
} */

.padding {
  padding: 3rem 2rem;
}

.ailmentPadding{
  padding: 1rem 1rem;
}
.container {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Grid {
  xs: 2;
  sm: 3;
  md: 4;
  lg: 4;
}

.address {
  xs: 3;
  sm: 4;
  md: 6;
  lg: 6;
}

.ailmentGrid{
    xs: 2;
    sm: 2;
    md: 3;
    lg: 3;
}
