.formTitle {
  font-size: 25px;
  color: green;
}

.Input {
  width: 20vw;
  color: primary;
}

.ailmentContainerTitle {
  font-size: 15px;
  color: #0072f5;
}

.ailmentsRowsContainer {
  padding-top: 10px;
}

.ailmentsInput {
  width: 20vw;
  margin: 0 10px 0 0;
}

/* .center {
  position: absolute;
  transform: translate(420%, 0);
  padding: 10px;
} */

.padding {
  padding: 3vw 2vh;
}

.container {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Grid {
  xs: 2;
  sm: 3;
  md: 4;
  lg: 4;
}

.address {
  xs: 3;
  sm: 4;
  md: 6;
  lg: 6;
}

.ailmentGrid{
    xs: 2;
    sm: 2;
    md: 3;
    lg: 3;
}
