.formTitle {
  font-size: 25px;
  color: green;
}

.Input {
  width: 20vw;
  color: primary;
}

.ailmentContainerTitle {
  font-size: 15px;
  color: #0072f5;
}

.ailmentsRowsContainer {
  padding-top: 10px;
}

.ailmentsInput {
  width: 20vw;
  margin: 0 10px 0 0;
}

/* .center {
  position: absolute;
  transform: translate(420%, 0);
  padding: 10px;
} */

.padding {
  padding: 2vw 2vh;
}

.container {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
@media only screen and (max-width: 600px) {
  .Input {
    width: 30vw;
  }
}

@media only screen and (min-width: 600px) {
  .Input {
    width: 20vw;
  }
} */
