.formTitle {
    font-size: 25px;
    color: green;
  }
  
  .doctorInput, .diagnosisInput, .encounterInput {
    width: 20vw;
    min-width: 200px;
    max-width: 450px;
  }
  .medicineInput, .dosageInput, .durationInput {
    width: 12vw;
    min-width: 70px;
    max-width: 250px;
  }
  .Input {
    width: 20vw;
    color: primary;
    min-width: 250px;
  }
  .Grid {
    padding: 1.5rem;
  }
  .prescriptionGrid{
    padding-left: 0;
    padding-right: 0;
  }
  
  .ailmentsInput {
    width: 10vw;
  }
  
  
  .padding {
    padding: 2vw 2vh;
  }
  
  
  .container {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 2vh;
  }
  
  /* @media only screen and (max-width: 600px) {
    .enctrTypeTextInput {
      margin-top: 10px;
    }
  } */
  