.formTitle {
    font-size: 25px;
    color: green;
}

.doctorName, .contactNoInput, .genderInput {
  width: 10vw;
  min-width: 250px;
}

  .Input {
    width: 20vw;
    color: primary;
    min-width: 250px;
  } 
  .Grid{
    padding: 1.5rem;
  }
.enctrTypeTextInput {
  width: 20vw;
  min-width: 250px;
  margin-top: 28px;
}

.pComplaintInput, .sComplaintInput {
  width: 30vw;
  min-width: 250px;
}
  
  .patientNameBtn {
    background-color: transparent;
    color: black;
  }

  .ailmentsInput {
    width: 10vw;
    
  }
  
  /* .center {
    position: absolute;
    transform: translate(420%, 0);
    padding: 10px;
  } */
  
  .padding {
    padding: 2vw 2vh;
  }
  
  .container {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* @media only screen and (max-width: 600px) {
  .enctrTypeTextInput {
    margin-top: 10px;
  }
} */